* {
  box-sizing: border-box;
}
.container {
  width: 75%;
  margin: 20px auto;
  border: 1px solid #555;
  border-radius: 7px;
  background: #eee;
  height: calc(100vh - 45px);
}

.logo {
  height: 25px;
  background: #fff;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  text-align: center;
  margin: 10px;
}

.message {
  width: 100%;
  background: #ddd;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.userid {
  float: right;
}
.messageText {
  background: #000;
  color: #fff;
  width: auto;
  margin-right: 40px;
}
.messageReactions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.reaction {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.replyBtn {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.reply-form {
  display: flex;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.input-reply {
  margin: 10px 20px;
  width: 400px;
  height: 40px;
}
.display-none {
  display: none;
}
.messageList {
  height: 80%;
}
.messageInput {
  height: 60px;
}
.messageInput form {
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.input-message {
  width: 450px;
  height: 50px;
}
.sendMessageBtn {
  width: 45px;
  height: 50px;
}
.liked {
  color: rgb(68, 68, 165);
}
